@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comic Neue';
}
#cabecera{
display: flex;
height: 300px;
width: 100%;
background-image: url('../img/design1_image2.jpg');
background-size:cover;
background-repeat: no-repeat;
/* filter: grayscale(60%); */
justify-content:space-between;
gap:30px;
}
/* #cabecera:hover{
    transition: all 0.9s ease;
    filter: none;
} */
#titulo-pagina{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    width: 100%;
    height: 100%;
    font-style: normal;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.logo{
    background-color: black;
    filter:drop-shadow(130%);
    height: 200px;
    width: 230px;

}
.contenedor-logo{
    height: 100%;
    width: 250px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-navegacion{
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
}
.barra-navegacion a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: blanchedalmond;
    font-family: 'Verdana', 'sans-serif';
   
}
.barra-navegacion a:hover{
    transition: all 0.5s ease;
    transform: scale(110%);
    color:goldenrod;
}
.seccion-pagina{
    height: 70px;
    width: 100%;
    background-color: black;
}
.titulo-seccion-pagina{
    color: white;
    padding-top: 5px;
    text-align:center;
    font-weight: bolder; 
    font-size: 50px;
}
.contenedor-eventos{
display: flex;
height: 500px;
position: relative;
background-image: url('../img/hockey1.jpg');
background-position: center;
filter: brightness(150%) grayscale(30%);
justify-content: center;
}
.lista-eventos{
    margin-top: 70px;
    width: 500px;
}
.lista-eventos li h3{
    border-radius: 80px 40px;
    border-color: white;
    border-width: 5px;
    border-spacing: 5px;
    border-style:groove;
    background-color:forestgreen;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

.lista-eventos li h3:hover{
    filter: brightness(200%);
}
.lista-eventos li p{
    background-color:rgb(199, 97, 185);
    height: 70px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 130px 30px;
    text-align: center;
    padding-top: 15px;
}

.txt-mision{
    font-style: normal;
    text-align:justify;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(216, 216, 60, 0.637);
}

.txt-mision > h3{

    font-weight: bolder;
    font-style: normal;
}

#img-cuerpo-acerca{
    position:relative;
    left: 35%;
    box-shadow:20px 20px 20px 5px rgba(20, 20, 20, 0.3);
    border-radius: 30px 40px;
    filter: sepia(60%);
}

body{
    margin-left: 15px;
    margin-right: 15px;
}
.contenedor-contacto{
display: flex;
height: 400px;
align-content: center;
margin-left: 10px;
margin-right: 10px;
margin-top: 35px;
background-image: url('../img/hockey2.jpg');
background-size: cover;
filter:saturate(250%) brightness(160%) grayscale(1200%) ;
}
#texto-email{
width: 500px;
height: 400px;
background-color: rgba(0, 0, 0, 0.85);
margin-left: 300px;
border-radius: 12px 12px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;
text-align: center;
padding-top: 30px;
}
#texto-email a{
    display: inline-block;
    color: white;
}
#seccion-reglas{
  background-color: rgb(28, 90, 119);
}
.contenedor-titulo-reglas{
text-align: center;
color: white;
padding-top: 10px;
padding-bottom: 10px;
}
.reglamento-juego{
    margin-left: 180px;
    margin-right: 180px;
    text-align: justify;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../img/logo_patos.png");
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.lista-desordenada.uno li{
    list-style: circle;
    list-style-position: inside;
    text-indent: 15px;
    padding-left: 30px;
}
.lista-desordenada.uno li::marker{
position: relative;
}
.sublista-ordenada.uno li{
    list-style-position: inside;
}
.lista-ordenada.uno{
    list-style-position: inside;
}
.lista-ordenada.uno li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.lista-descriptiva.uno p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.lista-ordenada.uno li::marker{
    font-weight: bold;
}
.sublista-ordenada.uno li::marker{
    font-weight: normal;
}
.lista-descriptiva.dos p{
    padding-bottom: 10px;
}
#seccion-tabla-info{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: center;
    background-image: linear-gradient(
  45deg,
  hsl(0deg 0% 0%) 0%,
  hsl(1deg 38% 8%) 8%,
  hsl(359deg 22% 13%) 17%,
  hsl(359deg 17% 17%) 25%,
  hsl(360deg 14% 22%) 33%,
  hsl(360deg 12% 27%) 42%,
  hsl(0deg 10% 32%) 50%,
  hsl(360deg 12% 27%) 58%,
  hsl(360deg 14% 22%) 67%,
  hsl(359deg 17% 17%) 75%,
  hsl(359deg 22% 13%) 83%,
  hsl(1deg 38% 8%) 92%,
  hsl(0deg 0% 0%) 100%
); }
#tabla-info{
    text-align: center;
    color:white;
    background-color: black;
    margin-top: 15px;
    border-radius: 10px 10px;
    box-shadow: 20px 20px 20px 5px rgba(20, 20, 20, 0.3);
    border-spacing: 0px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#tabla-info th{
text-align: center;
}

th,td{
    width: 190px;
    height: 50px;
}
.fechas-tabla{
font-size: 50px;
}

.fila.uno:hover, .fila.dos:hover, .fila.cinco:hover, .fila.seis:hover,.fila.nueve:hover{
    background-color: hsl(120, 85%, 33%);
}

.fila.uno, .fila.dos, .fila.cinco, .fila.seis,.fila.nueve{
    background-color:forestgreen;
}

.fila.tres, .fila.cuatro, .fila.siete, .fila.ocho{
    background-color: black;
    color: white;
}

.fila.tres:hover, .fila.cuatro:hover, .fila.siete:hover, .fila.ocho:hover{
    background-color: rgba(11, 12, 11, 0.9);
}
.fechas-tabla.uno, .fechas-tabla.tres, .fechas-tabla.cinco{
    background-color:rgb(201, 201, 34);
}

.fechas-tabla.dos, .fechas-tabla.cuatro{
    background-color:black;
    color: white;
}
.contenedor-debajo-tabla{
    margin-top: 30px;
    display: flex;
    justify-content: start;
}
.contenedor-debajo-tabla ul{
    list-style: none;
    height: 130px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.contenedor-debajo-tabla li{
    margin-bottom: 10px;
}
#contacto-tabla{
    display: flex;
    justify-content: space-between;
}
#li-de-contacto{
    margin-top: 45px;
}
#contacto-tabla p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
#contacto-tabla a{
    text-decoration: none;
    font-weight: bold;
}
.mapas{
    margin-top: 30px;
    padding-top: 15px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
    background-color:rgb(7, 7, 77);
    padding-bottom: 20px;
}
.mapas div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#formulario-registro{
    margin-top: 20px;
    display: flex;
    justify-content:center;
    gap:20px;
}
.contenedor-formulario{
    padding-top: 30px;
    padding-right: 35px;
    padding-left: 35px;
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap:30px;
    background-color: rgba(71, 83, 122, 0.781)
    /* margin-left: 30px;
    margin-right: 30px; */
}
.nombre-apellido{
display: flex;
justify-content:space-between;
width: 100%;
gap:5px;
}
/* .nombre-apellido label input{
    display: flex;
    width: 100%;
    justify-content: space-between;
} */
.nombre-apellido label {
    width: 100% ;
}
#nombre{
    width: 60%;
    
}
#apellido{
    width: 75%;
} 
.datos-domicilio{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:5px;
}
/* .datos-domicilio label{
    width: 100%;
} */
.datos-domicilio .dir{
width: 50%;
}
.datos-domicilio .ciu{
width: 25%;
}
.datos-domicilio .cp{
width: 20%;
}
 #direccion{
    width: 75%;
}
 #ciudad{
   width: 65%;
 } 
 #cp{
    width:40%;
 } 
#apellido, #nombre, #direccion, #ciudad, #cp{
    background-color: white;
    border: solid 1px black;
    padding: 10px;
}
.nacimiento-genero{
    width: 100%;
    display: flex;
    justify-content:space-around;
    gap:100px;
}
.nacimiento{
    width: 50%;
}
#calendario-nacim{
    width: 150px;
    height: 30px;
    cursor:pointer;
}
.genero{
    width: 50%;
    display: flex;
    justify-content:flex-start;
    gap:5px;
}
.educacion{
    width: 60%;
    display: flex;
    justify-content:space-between;
    margin-top: -20px;
}
.escuelas{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: -20px;
}
#escuelas{
    height: 30px;
    width: 150px;
}
.escuelas p{
    margin-top: 5px;
    padding-right: 5px;
}
.posiciones-hockey{
margin-top: -20px;
width: 100%;
display:flex;
justify-content:flex-start;
gap: 80px;
}
.posiciones-hockey-col-uno, .posiciones-hockey-col-dos{
    display:flex;
    flex-direction: column;
    gap:15px;
}

#posicion-uno, #posicion-dos, #posicion-tres, #posicion-cuatro{
    margin-bottom: 15px;
}
#talles{
    height: 30px;
    width: 150px;
}
#permiso p{
    text-align: justify;
    line-height: 30px;
}
.firmas-fecha{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:15px;
    padding-bottom: 50px;
}
#fecha-firma, #nombre-tutor{
    height: 30px;
    width: 240px;
}
.cont-botones{
    width: 100%;
    display: flex;
    justify-content:space-around;
    padding-bottom: 40px;
}
#btn-enviar{
    background-color: forestgreen;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    border-radius: 12px 12px;
}
#btn-enviar:hover{
    filter: brightness(140%);
    border-color: rgb(194, 194, 15);
}
#btn-resetear{
    background-color: rgb(30, 40, 184);
    width: 200px;
    height: 60px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    border-radius: 12px 12px;
}
#btn-resetear:hover{
    filter: brightness(140%);
    border-color:red;
}